@font-face {
    font-family: "figtree";
    src: url("./fonts/Figtree/static/Figtree-ExtraBold.ttf");
    font-weight: normal;
}

:root {
    --primary-bg-color: rgba(9, 33, 42, 1);
}

body {
    margin: 0;
    font-family: "figtree";
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    height: 100px;
    background-color: var(--primary-bg-color);
    display: flex;
    align-items: center;
}

.header-content {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding-left: 120px;
}

main {
    background-color: rgba(6, 23, 30, 1);
    flex: 1;
}

h1 {
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 56px;
    margin: 0;
    padding: 100px;
}

p {
    color: white;
}

.thumb-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 110px 120px 110px;
}

.thumbnails {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.thumbnails img {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    border: 2px solid rgb(17, 70, 88);
    object-fit: cover;
    cursor: pointer;
}

.thumbnails img:hover {
    border-color: rgb(107, 193, 225);
}

button {
    display: flex;
    border-style: none;
    border-radius: 20px;
    padding: 0;
}

footer {
    background-color: var(--primary-bg-color);
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.curved-footer {
    clip-path: ellipse(100% 100% at 50% 100%);
    margin-top: -30px;
}

.footer-img {
    height: 80px;
}

/* Dialog Styling */

dialog {
    background-color: var(--primary-bg-color);
    border-style: none;
    outline: none;
}

dialog.opened {
    position: fixed;
    top: 0px;
    width: 750px;
    height: 600px;
    border-radius: 20px;
    padding: 0;
}

dialog::backdrop {
    opacity: 1;
    transition: all 0.5s ease-in;
    background-color: rgba(173, 173, 173, 0.616);
    backdrop-filter: blur(8px);
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    padding-right: 66px;
    padding-left: 75px;
}

.dialog-close {
    background-color: transparent;
    cursor: pointer;
}

.dialog-close:hover {
    border-radius: 50%;
    background-color: rgb(17, 70, 88);
}

.dialog-close:active {
    background-color: rgb(12, 50, 65);
}

.dialog-section {
    display: flex;
    justify-content: center;
}

.dialog-img-name {
    font-size: 24px;
    padding: 0;
}

.dialog-image {
    width: 600px;
    height: 370px;
}

.dialog-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
}

.dialog-btn {
    border-radius: 50%;
    background-color: rgb(30, 30, 35);
    cursor: pointer;
    height: 60px;
}

.dialog-btn:hover {
    background-color: rgb(57, 36, 40);
}

.dialog-pic-number {
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding: 0 50px;
    width: 60px;
}

/* Responsiveness */

@media (max-width: 920px) {
    h1 {
        font-size: 40px;
        padding: 50px;
    }
}

@media (max-width: 880px) {
    .thumb-container {
        padding-left: 50px;
        padding-right: 50px;
    }

    .header-content {
        padding-left: 50px;
    }
}

@media (max-width: 800px) {
    .dialog-image {
        width: 500px;
    }
}

@media (max-width: 760px) {
    .header-content {
        padding-left: 120px;
    }
}

@media (max-width: 700px) {
    .header-content {
        padding-left: 50px;
    }

    h1 {
        padding-left: 30px;
    }

    .thumb-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .dialog-header {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 590px) {
    .dialog-image {
        width: 400px;
    }
}

@media (max-width: 480px) {
    .header-content {
        display: flex;
        justify-content: center;
        padding-left: 0;
    }

    .dialog-image {
        width: 300px;
    }
}

@media (max-width: 400px) {
    header {
        height: 70px;
    }

    .header-img {
        height: 30px;
    }

    h1 {
        font-size: 35px;
    }

    .thumb-container {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 80px;
    }

    .thumbnails img {
        height: 130px;
        width: 130px;
    }

    footer {
        height: 110px;
    }

    .footer-img {
        height: 60px;
    }

    .dialog-header {
        padding-left: 12.5px;
        padding-right: 12.5px;
        height: 100px;
    }

    .dialog-image {
        width: 240px;
    }

    .dialog-pic-number {
        padding: 0 30px 0 30px;
    }
}